/* .button {
  width: 120px;
  height: 30px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.input {
  border: 1px solid green;
  margin-top: 20px;
}
.inputSubmit {
    border: 1px solid green;
    margin-bottom: 30px;
    background-color: aqua;
  }

.input:hover {
  border: 2px solid orange;
}
.paragraph{
    font-weight: 500;
    font-size: 24px;
} */